<div class="container">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="inner cover">BumperDoc Denver Scheduling Portal</h1>
      </div>
    </div>
    <%= form_for :sessions, url: login_path do |f| %>
    <div class="email">
      Username: <%= f.text_field :email %>
    </div>
    <div class="password">
      Password: <%= f.text_field :password %>
    </div>
      <%= f.submit "Log In", class: "btn btn-default" %>
    <% end %>

    <div class="mastfoot">
      <div class="inner">
        <p>An App by DevBoutique</p>
      </div>
    </div>
  </div>
</div>
