@import "bootstrap-sprockets";
@import "bootstrap";

.site-wrapper-inner {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: solid;
  border-color: red;
  margin: 10px;
}

body {
  background-color: grey;
  text-align: center;
  color: #fff;
}

.btn-default {
  color: gray;
  margin-bottom: 10px;
}

.username {
  padding: 10px;
}

.password {
  padding: 10px;
}
